{% extends "contribute/base.html" %}

{% block title %}Keeping up to date | Help and information{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Help and information" page_title="Keeping up to date" tertiary="true" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8" role="main">
      <h1 id="keeping-up-to-date">Keeping up to date</h1>
      <p>
        Ubuntu is a vast project, so it is sometimes difficult to know
        what&rsquo;s going on. Here are some general guidelines about where to
        go for the latest news and information, and a few examples of resources
        that we find particularly useful. Tip: The best source of information
        about Ubuntu is from the people that are actually making it, and even
        better, from people you know.
      </p>
      <ol>
        <li>
          <p>
            <strong>Get local</strong> &mdash; Get in touch with your
            <a href="http://loco.ubuntu.com" class="p-link--external">
              local team</a> and join an event, find out &ldquo;who&rsquo;s
            doing what&rdquo;, and learn about all the fun stuff that is
            happening nearby. Sometimes having a local guide can get you what
            you are looking for much faster than tracking it down yourself.
          </p>
        </li>
        <li>
          <p>
            <strong>Follow &ldquo;the Planet&rdquo;</strong> &mdash; Ubuntu is
            built by people, many of who are &ldquo;Ubuntu Members&rdquo;.
            Ubuntu Members blog about their work in the project and other topics
            of interest to the community on a web site called
            <a href="http://planet.ubuntu.com" class="p-link--external">
              Planet Ubuntu</a>.
            This site can be an incredibly rich resource for latest Ubuntu
            developments and is worth subscribing to.
          </p>
        </li>
        <li>
          <p>
            <strong>Read the news and blogs</strong> &mdash; There are several
            large and popular web sites that regularly cover Ubuntu news and
            happenings, primarily about the software and applications. The three
            most active sites for Ubuntu-related news are: &mdash;
            <a href="http://ubuntu-news.org/" class="p-link--external">
              The Fridge</a>,
            <a href="http://www.omgubuntu.co.uk/" class="p-link--external">
              OMG! Ubuntu!</a>,
            <a href="http://www.iheartubuntu.com/" class="p-link--external">
              I Heart Ubuntu</a>.
          </p>
        </li>
        <li>
          <p>
            <strong>Go to the source</strong> &mdash; Canonical is the primary
            sponsor of the Ubuntu project. So, as you&rsquo;d imagine they have
            excellent information resources. The main
            <a href="https://ubuntu.com" class="p-link--external">
              Ubuntu web site</a>,
            <a href="https://insights.ubuntu.com" class="p-link--external">
              Ubuntu Insights</a>,
            <a href="https://design.canonical.com" class="p-link--external">
              Canonical Design Blog</a>.
          </p>
        </li>
        <li>
          <p>
            <strong>Get your news weekly</strong> &mdash; Check out the
            <a href="https://wiki.ubuntu.com/UbuntuWeeklyNewsletter"
              class="p-link--external">
              Ubuntu Weekly News</a>.
            All the most important bits are mentioned there and they are
            cross-posted on many places including the Fridge.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <p>
        <img src="https://assets.ubuntu.com/v1/12b1bed5-stay-connected-pictogram-birds.png"
           alt="">
      </p>
      <p>
        The Ubuntu world is vast. Here are some pointers to help you discover
        the most exciting happenings in the Ubuntu community. Our Ubuntu local
        communities are a great way to meet people near you that enjoy Ubuntu
        and even help make it better!</p>
      <p>
        In addition to our local teams, we have hundreds of teams that have
        formed globally that are making Ubuntu. Here are some lively examples:
      </p>
      <ul>
        <li>
          <p>
            <a href="https://lists.launchpad.net/ubuntu-phone/"
              class="p-link--external">
              The Ubuntu developers</a>
            (working on convergence, Ubuntu on all devices).
          </p>
        </li>
        <li>
          <p>
            <a href="https://wiki.ubuntu.com/Teams"
              class="p-link--external">
              A good overview of Ubuntu teams</a>
          </p>
        </li>
      </ul>
      <p>
        Check out
        <a href="http://planet.ubuntu.com" class="p-link--external">
          Ubuntu Planet</a>,
        an aggregator for Ubuntu Members&rsquo; blogs.
      </p>
      <p>
        Make sure you don&rsquo;t miss any hot Ubuntu news and updates, stay
        connected via your favourite social networking sites.
      </p>
      <ul class="p-list--divided">
        <li class="p-list__item">
          Follow
          <a href="http://www.twitter.com/ubuntu" class="p-list__item">
            @Ubuntu</a> on Twitter
        </li>
        <li class="p-list__item">
          Follow
          <a href="http://www.twitter.com/canonical" class="p-list__item">
            @Canonical</a> on Twitter
        </li>
        <li class="p-list__item">
          Join the
          <a href="http://www.facebook.com/ubuntulinux" class="p-list__item">
            Ubuntu Facebook group
          </a>
        </li>
        <li class="p-list__item">
          Watch
          <a href="http://www.youtube.com/celebrateubuntu" class="p-list__item">
            Ubuntu&rsquo;s YouTube channel</a>
        </li>
        <li class="p-list__item">
          The <a href="http://www.reddit.com/r/ubuntu" class="p-list__item">
            Ubuntu Subreddit</a>
        </li>
        <li class="p-list__item">
          <a href="https://plus.google.com/communities/107299007624972266094"
             class="p-list__item">
             Ubuntu on G+</a>
        </li>
        <li class="p-list__item">
          Join the
          <a href="http://ubuntuforums.org" class="p-list__item">
            Ubuntu Forums</a>,
          an active and growing community
        </li>
        <li class="p-list__item">
          Help out on
          <a href="http://askubuntu.com/" class="p-list__item">
            Ask Ubuntu</a>,
          a site dedicated to answering all kinds of questions surrounding
          Ubuntu.
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
