<ul class="{% if list_class %}{{ list_class }}{% else %}nav-secondary__menu p-inline-list{% endif %}">
  <li{% if not list_class %} class="p-inline-list__item"><a class="p-inline-list__link {% else %}><a class="{% endif %}{% if level_2 == 'funding' %} is-active{% endif %}" href="/help-information/funding">Ubuntu donations funding</a></li>
  <li{% if not list_class %} class="p-inline-list__item"><a class="p-inline-list__link {% else %}><a class="{% endif %}{% if level_2 == 'finding-help' %} is-active{% endif %}" href="/help-information/finding-help">Finding help</a></li>
  <li{% if not list_class %} class="p-inline-list__item"><a class="p-inline-list__link {% else %}><a class="{% endif %}{% if level_2 == 'keeping-up-to-date' %} is-active{% endif %}" href="/help-information/keeping-up-to-date">Keeping up to date</a></li>
  <li{% if not list_class %} class="p-inline-list__item"><a class="p-inline-list__link {% else %}><a class="{% endif %}{% if level_2 == 'meeting-other-ubuntu-users' %} is-active{% endif %}" href="/help-information/meeting-other-ubuntu-users">Meeting other Ubuntu users</a></li>
</ul>
