{% extends "contribute/base.html" %}

{% block title %}Ubuntu donations funding | Help and information{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Help and information" page_title="Ubuntu donations funding" tertiary="true" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1 id="ubuntu-donations-funding">Ubuntu donations funding</h1>
      <p>
        Although Ubuntu has always and will always be free, we provide a
        <a href="https://www.ubuntu.com/download/desktop/contribute"
          class="p-link--external">
          contribution form</a>
        that our users can use to donate money to Ubuntu. These donations
        are used by Canonical to support&nbsp;and improve the areas that the
        contributor feels are most important. Donations made to
        &ldquo;Community projects&rdquo; are used to fund people and projects
        outside of Canonical in ways that benefit the Ubuntu community.
      </p>
      <p>
        We break each chunk of donations into six-month cycles. As an example,
        from 12.10 to 13.04 we collect donations and they will be spent in the
        13.04 cycle. When the 13.10 cycle opens up we will then spend the
        donations from the 13.04 &mdash; 13.10 period. At the end of a cycle,
        we will publish a report that summarises where the money was spent.
      </p>
      <p>
        Any Ubuntu Member is welcome to apply for funding from this donations
        budget (Ubuntu Membership is required).
      </p>
      <p>
        These requests are reviewed by Canonical&rsquo;s Community Team (with
        input from governance members where applicable) to ensure the money is
        being spent in a way that benefits the community and approved or
        rejected. All approved requests, how much was spent and who received
        the funding will be accountable in the report at the end of each
        donations period.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2 id="contributing-to-the-donations-fund">
        Contributing to the donations fund
      </h2>
      <p>
        Ubuntu is free of charge, but when you
        <a href="http://www.ubuntu.com/download" class="p-link--external">
          download Ubuntu</a>,
        consider donating a few bucks. It doesn&rsquo;t take very long, but it
        will allow us to support our community in all kinds of great
        activities. Development, testing, meeting up with team members to do
        planning and hacking, support of big events, you name it.
      </p>
      <p>
        All you need to do is to move the donations slider labelled with
        &ldquo;Community projects&rdquo; to the desired value and you&rsquo;re
        done. This is what allows us to help LoCos with events, fly people to
        conferences and do all kinds of other great things.
      </p>
      <p>
        <img src="https://assets.ubuntu.com/v1/b2920c82-community-donations.png"
          alt="Community projects donation slider"/>
      </p>
      <p>
        Thanks a lot in advance. Your donation, however small, is much
        appreciated by a very large community of people who are making Ubuntu
        better for you.
      </p>
      <h2 id="funding-guidelines">Funding guidelines</h2>
      <p>
        Our primary goal is to ensure that we can direct the donations where
        they are needed most and to support a range of different projects and
        communities within the Ubuntu family (which includes our flavours).
      </p>
      <p>
        Please note that we won&rsquo;t just write a check for a chunk of money
        to an individual or team. All requests must have a specific purpose for
        the funding.
      </p>
      <p>
        Here are some guidelines for funding requests. Before you apply for
        funding, please review these guidelines as if your request
        doesn&rsquo;t fall within them, it will likely be rejected:
      </p>
      <ul class="p-list">
        <li class="p-list_item is-ticked">
          <p>You must be an Ubuntu Member to apply for funding.</p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            When applying for funding as part of a team (e.g. LoCo Team), please
            coordinate with your team to ensure everyone is happy with the
            funding request.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            We have a limited amount of funding in each cycle, and we want to
            ensure as many projects benefit from it, so please only ask for what
            you need.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            Requests must have a specific purpose in mind (e.g. equipment,
            sponsorship for as conference/event, travel etc). Please don&rsquo;t
            ask for a sum of money without a specific purpose.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            When specifying the amount, you should ensure that that amount is the
            full amount you need (we will only fund the amount you request). If
            your submission is short by a certain amount, you will need to file a
            full new submission which will delay the process. Also be sure to
            start your planning early (ie. flight prices will go up closer to
            when you need them).
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            Please don&rsquo;t ask for money retroactively (e.g. after you
            travelled to an event). We&rsquo;d like to be notified beforehand.
            This way we can avoid cases where the requester is stuck with the
            costs if the request should get declined.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            Please include as much information about the request as you can.
            Include any suppliers, details of how payment should be received etc.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            All requests will need some documentation of what the money purchased
            (e.g. a receipt, invoice, email thread etc). We will ask to see these
            documents when the request is approved.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            In some cases we will follow up for more information, or refer to our
            governance boards for further guidance.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            Payments are made in either US Dollars, Euros, or British Pounds.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            In cases where we fund sponsorship or travel to an event, we ask that
            you provide a public trip report/blog entry about the event to share
            with our community.
          </p>
        </li>
        <li class="p-list_item is-ticked">
          <p>
            <strong>If your request is rejected</strong>, don&rsquo;t get angry;
            unfortunately, we can&rsquo;t approve them all. All decisions are
            final.
          </p>
        </li>
      </ul>
      <h2 id="how-to-apply-for-funding">How to apply for funding</h2>
      <p>
        Applying for funding is simple. Please, first review the guidelines
        above and then simply go to the
        <a href="https://forms.canonical.com/cda/" class="p-link--external">
          community donations application form</a> and fill in the form and we
        will follow up with you soon.
      </p>
      <h2 id="examples">Examples</h2>
      <p>Here are some examples of common areas we will likely fund:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">
          <p>Sponsorship for upstream events and LoCo Team events.</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            LoCo costs (e.g. postage costs for sending equipment to different
            team members).
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            Equipment (e.g. if a community member wants to add support for the
            equipment to Ubuntu).
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            Travel (e.g. coverage of full or part of the expenses for attending
            an event).
          </p>
        </li>
      </ul>
      <p>Here are some things we will not fund:</p>
      <ul>
        <li>
          <p>Anything illegal.</p>
        </li>
        <li>
          <p>Sending a check for an amount to an individual or team.</p>
        </li>
      </ul>
      <h2 id="faq">FAQ</h2>
      <dl>
        <dt>Q: Who can apply for funding?</dt>
        <dd>
          A: Any Ubuntu Member. We will prioritise requests on your standing
          and reputation in the community (e.g. requests from well known Ubuntu
          Members with significant and sustained contributions) will get
          precedent. This does not mean more technical people will
          automatically get higher priority, rather it prioritises those with a
          strong reputation who will use the money most effectively.
        </dd>
        <dt>Q: What can I ask for funding for?</dt>
        <dd>
          A: You can ask for funding for items that needs purchasing that bring
          value to the Ubuntu community (e.g. sponsorship of an event,
          equipment, travel etc). Please note that we will only approve
          requests where the money will benefit the Ubuntu family of projects
          (Ubuntu and flavours).
        </dd>
        <dt>
          Q: What if I don&rsquo;t know the exact cost, or the cost changes?
        </dt>
        <dd>
          A: In many cases, the exact cost for travel or food is not known
          ahead of time, or is subject to change between the time you make a
          request and when it is approved. In these cases, you should provide
          your best estimate for the cost, which we will use in reviewing your
          request, and we will provide the exact cost when it is known.
        </dd>
        <dt>Q: How is payment made?</dt>
        <dd>
          A: It depends on the request. As an example, if you need coffee for
          an event, we would likely pay the vendor directly. If you need
          equipment, we would likely purchase it for you and then send it to
          you. If it is a travel request we may coordinate the booking with
          you. We will never write a check and send it to an individual unless
          it is for reimbursement.
        </dd>
        <dt>
          Q: Why is Canonical coordinating this and not a community board?
        </dt>
        <dd>
          A: Operating the donations programme involves a lot of complexity
          surrounding taxes, tracking requests, gathering further information,
          and ensuring the money is objectively distributed across Ubuntu, our
          flavours, upstream, and our LoCo teams. This (a) involves a lot of
          work, (b) requires some commercial accountability (e.g. taxes) and
          (c) should be as thin and non-bureaucratic as possible. The Community
          Team at Canonical is in a good position to coordinate this work, and
          will regularly reach out to leaders in the Ubuntu project (such as
          our governance boards and councils) and flavours to query requests
          where further information is needed. Accountability for this work
          will be provided with the regular report.
        </dd>
        <dt>Q: How can I see how the money is spent?</dt>
        <dd>
          A: A report is published every six months at release time that
          summarises the budget for that cycle as well as where the money was
          spent.
        </dd>
        <dt>Q: What happens to money that is not spent in a cycle?</dt>
        <dd>A: The remaining funds will roll over to the next cycle.</dd>
        <dt>Q: Does Canonical take a fee for managing this programme?</dt>
        <dd>
          A: No. All donations provided by users will be distributed to
          projects and teams.
        </dd>
      </dl>
    </div>
  </div>
</section>

<section class="p-strip--accent is-shallow">
  <div class="row">
    <div class="col-8">
      <h2 id="getting-in-touch">Getting in touch</h2>
      <p>
        If you have any further questions, please email
        <a href="mailto:claire.newman@canonical.com"
          class="p-link--strong"
          style="color: #fff;">
          Claire Newman</a>.
      </p>
    </div>
  </div>
</section>

{% endblock content %}
