{% extends "contribute/base.html" %}

{% block title %}Reports | Ubuntu donations funding | Help and information{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Help and information" subsection_title="Ubuntu donations funding" page_title="Ubuntu donations funding" tertiary="true" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row no-border">
    <div class="eight-col clearfix">
      <h1 id="funding-reports">Funding reports</h1>
      <p>
        Below are links to the past reports detailing the donations and
        disbursements from this program.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-6">
      <h3 id="2017">2017</h3>
      <ul class="p-list--divided">
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1LbRviEErJ4-NJ-z4yiQjHaptoytzOqHOj-CvH9BwA7g/edit"
            target="_blank">
            January 2017 – March 2017
          </a>
        </li>
      </ul>
      <h3 id="2016">2016</h3>
      <ul class="p-list--divided">
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/16rBuG4ah_KoWAc2FFoIJmlqFGKn3TwcS_dsiWtLxImk/edit"
            target="_blank">
            October 2016 – December 2016
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1DV78cokb18fw8qKIK217Tysu5vrTkCk5lWWOEpQ5_CQ/edit"
            target="_blank">
            July 2016 – September 2016
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1Z0Rzz_6GOVX7xD4k55BAb8qIwoZ5-BDi961bryx-QHQ/edit"
            target="_blank">
            April 2016 – June 2016
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1LviMIelzinQ4aXD5LStrbW63bjzcR3eCFzEECbkvtOY/edit"
            target="_blank">
            January 2016 – March 2016
          </a>
        </li>
      </ul>
      <h3 id="2015">2015</h3>
      <ul class="p-list--divided">
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1bLoIVeYaNCs7a6nhy18Aa8U4W7C5LsMpFzoGjA4awBA/edit"
            target="_blank">
            October 2015 – December 2015
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/a/canonical.com/document/d/12hPFPlg5Q_V-d9_jLf0mFUmRhygOHD5YXeuTvGxXDI0/edit#"
            target="_blank">
            July 2015 – September 2015
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1pUiCfHuVXzD0thoOfPiLCGWzJHiixCmzvteilEXXpxg/edit#"
            target="_blank">
            April 2015 – June 2015
          </a>
        </li>
        <li class="p-list__item"><a href="https://docs.google.com/document/d/1NkXhrylqgXkMOc1_77p58jj8ZCfeC58dnIDcUNp8BpA/edit#" target="_blank">January 2015 – March 2015</a></li>
      </ul>
      <h3 id="2013-2014">2013 – 2014</h3>
      <ul class="p-list--divided">
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1f2BYK6cVWT3yH295TbJXt8J5VGzL4vcSRVXFYL204U0/edit#"
            target="_blank">
            October 2014 – December 2014
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1HrBqGjqKe-THdK7liXFDobDU2LVW9JWtKxoa8IywUU4/edit#heading=h.n911dzucw1u7"
            target="_blank">
            July 2014 – September 2014
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/1IKaC3aOByiR5oT0_L4h0mhLfQ7uHJPabipNjKNoMxZw/edit#heading=h.6fnoprrirksy"
            target="_blank">
            April 2014 – June 2014
          </a>
        </li>
        <li class="p-list__item">
          <a href="https://docs.google.com/document/d/11xUZDhHzfcu38NABw4jgGD9vuCawRh9EcbgsPVQRwgA/edit#heading=h.6fnoprrirksy"
            target="_blank">
            April 2013 –&nbsp;March 2014
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock content %}
