@mixin community-p-navigation {
  .p-navigation {
    background-color: $color-brand;

    &__link:hover {
      text-decoration: none !important;
    }

    @media screen and (min-width: $breakpoint-navigation-threshold) {

      &__link {
        padding: 0 !important;
        position: relative;

        > a {
          display: inline-block;
          padding: 1rem .75rem !important;
        }
      }

      &__links,
      &__link {
        border-color: lighten($color-brand, 10%) !important;
      }

      &__link.is-active {
        background-color: darken($color-brand, 10%);
      }
    }
  }
}
