@mixin community-p-breadcrumbs {
  .p-breadcrumbs {
    @media screen and (min-width: $breakpoint-navigation-threshold) {
      display: flex;
    }

    &__link {
      color: $color-mid-dark;

      &:hover {
        text-decoration: underline;
        color: currentColor;
      }

      &:visited {
        @extend .p-breadcrumbs__link;
      }
    }

    &__item {
      margin-bottom: 0;
    }

    .second-level-nav,
    .nav-secondary__menu,
    .nav-tertiary__menu {
      display: inline-block;
      position: relative;
      margin-left: 1.7rem;

      :first-of-type::before {
        content: '\203A';
        font-weight: 400;
        color: #666;
        left: -0.75rem;
        position: absolute;
        top: 0;
      }

      .p-inline-list__link  {
        @extend .p-breadcrumbs__link;
      }

    }

    .p-inline-list__link,
    .p-breadcrumbs__link {
      &.is-active {
        color: $color-brand;
      }
    }

    .nav-secondary__menu,
    .nav-tertiary__menu {
      .p-inline-list__link {
        color: $color-dark;
      }
    }

    .second-level-nav {
      margin-left: 0;
    }
  }

  .second-level-nav {
    display: inline-block;
  }

  .p-nav-secondary {
    padding: $sp-small 0;
    border-bottom: 1px solid $color-mid-light;
  }
}