@mixin community-p-navigation {
  .p-navigation {
    background-color: $color-brand;

    &__link:hover {
      text-decoration: none !important;
    }

    // XXX: Ant 08.08.2017
    // Temporarily align the navigations menu links with the logo.
    // https://github.com/vanilla-framework/vanilla-framework/issues/1103
    .p-navigation__banner {
      position: relative;
      overflow: hidden;

      @media screen and (min-width: $breakpoint-navigation-threshold + 1) {
        float: left;
      }
    }

    .p-navigation__toggle--open,
    .p-navigation__toggle--close {
      position: absolute;
      top: calc(50% - .75rem);
      right: 1rem;
      margin: 0;
    }

    @media screen and (min-width: $breakpoint-navigation-threshold) {

      &__link {
        padding: 0 !important;
        position: relative;

        > a {
          display: inline-block;
          padding: 1rem .75rem !important;
        }
      }

      &__links,
      &__link {
        border-color: lighten($color-brand, 10%) !important;
      }

      &__link.is-active {
        background-color: darken($color-brand, 10%);
      }
    }
  }
}
