{% extends "base_index.html" %}

{% block content %}

<section class="p-strip--light is-bordered is-deep">
  <div class="row">
    <div class="col-8">
      <h1>Community</h1>
      <p>
        Whether you&rsquo;re an experienced technology user or you&rsquo;re
        just getting started, there are lots of ways to get involved with the
        Ubuntu community. Ubuntu is more than an operating system for your
        computer, server, cloud, phone, tablet, or TV. It&rsquo;s also a
        massively collaborative project. Ubuntu is always open and looking
        for ways to create the best possible experience for anyone who tries
        it and community participation is a great way to help make that happen.
      </p>
      <p>
        <a href="/contribute/find-a-task/" class="p-button--brand">
          Find a task
        </a>
        to start contributing right away.
      </p>
      <p>
        Whether you participate in Ubuntu locally with people in your city or
        town, or you collaborate online with other people that enjoy making
        Ubuntu, you will be amazed by the people you meet and their passion
        for doing something startling.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <blockquote class="p-pull-quote">
        <p>
          Together we have the opportunity to bring real technological freedom
          to every part of the world, across multiple devices and the cloud,
          and clothed in an elegant, beautiful, experience. It is a bold
          vision, but our greatest strength in Ubuntu is our community and
          together we can do this. Come and join us and be a part of bringing
          Ubuntu to the masses.
        </p>
        <cite class="p-pull-quote__citation">
          Jono Bacon, former Ubuntu Community Manager
        </cite>
      </blockquote>
    </div>
  </div>
</section>

<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Contribute</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">Developers</h3>
      <p>
        Write and package new software or fix bugs in existing software. Your
        technical skills can make a real difference to the ecosystem of Ubuntu.
      </p>
      <p>
        <a href="/contribute/developers/">
          Contribute as a developer&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Documentation</h3>
      <p>
        Help produce official documentation, share the solution to a problem,
        or check, proof and test other documents for accuracy.
      </p>
      <p>
        <a href="/contribute/documentation/">
          Contribute to documentation&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Design</h3>
      <p>
        Put your creativity to work by improving the look and feel of Ubuntu.
        Help design graphics, backgrounds or themes for the next release.
      </p>
      <p>
        <a href="/contribute/design/">
          Contribute to the design&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Translations</h3>
      <p>
        Millions of people use Ubuntu around the globe. They speak hundreds of
        different languages and it&rsquo;s our mission to make Ubuntu
        accessible to everyone.
      </p>
      <p>
        <a href="/contribute/translations/">
          Help to translation&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">Quality</h3>
      <p>
        Help make Ubuntu even better by working with bug reports to ensure
        they&rsquo;re clear, complete and if possible, easy to reproduce.
      </p>
      <p>
        <a href="/contribute/quality/">
          Help manage bugs&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Help and information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">Support</h3>
      <p>
        Share your technical know-how with other users by joining email and
        discussion lists or joining <abbr title="Internet Relay Chat">IRC</abbr> channels.
      </p>
      <p>
        <a href="/help-information/finding-help/support/">
          Support the community&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Documentation</h3>
      <p>
        Official documentation explains everything from adding new
        applications to configuring networks.
      </p>
      <p>
        <a href="/help-information/">
          View official documentation&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Finding help</h3>
      <p>
        Access forums, live chat sessions or mailing lists and benefit from
        the technical knowledge of Ubuntu community members.
      </p>
      <p>
        <a href="/help-information/finding-help/">
          Find help quickly&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Community blogs</h3>
      <p>
        Planet Ubuntu is your window into the world, work and lives of Ubuntu
        developers and contributors.
      </p>
      <p>
        <a href="http://planet.ubuntu.com/" class="p-link--external">
          Visit Planet Ubuntu
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">News</h3>
      <p>
        Keep up-to-date with the Ubuntu news at The Fridge or read Ubuntu
        Weekly News &mdash; the community-created newsletter.
      </p>
      <p>
        <a href="http://fridge.ubuntu.com/" class="p-link--external">
          Visit The Fridge
        </a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-12">
      <h2>Community structure</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">Governance</h3>
      <p>
        Learn more about how the community is organised and how responsibility
        is allocated in the Ubuntu project.
      </p>
      <p>
        <a href="/community-structure/governance/">
          View our Governance&nbsp;&rsaquo;
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Code of Conduct</h3>
      <p>
        Review the Code of Conduct to which community members subscribe. You
        can consider it our manifest for collaboration.
      </p>
      <p>
        <a href="http://www.ubuntu.com/about/about-ubuntu/conduct"
          class="p-link--external">
          Ubuntu Code of Conduct v2.0
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Project teams</h3>
      <p>
        Learn about the dozens of project teams, their contributions to Ubuntu
        and how they work.
      </p>
      <p>
        <a href="https://wiki.ubuntu.com/Teams" class="p-link--external">
          Teams in the Ubuntu project
        </a>
      </p>
    </div>
    <div class="col-3">
      <h3 class="p-heading--four">Local Ubuntu teams</h3>
      <p>
        Find and join an official LoCo team near you, or get advice on how to
        create a team in your area.
      </p>
      <p>
        <a href="/help-information/meeting-other-ubuntu-users/local-communities/">
          Find out about local communities&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--four">Ubuntu Women team</h3>
      <p>
        This project aims to foster Women contributors and community
        involvement through mentoring and inspiration. We invite you to help
        out.
      </p>
      <p>
        <a href="http://wiki.ubuntu-women.org/" class="p-link--external">
          The Ubuntu Women Project
        </a>
      </p>
    </div>
  </div>
</section>




{% endblock content %}
