{% extends "contribute/base.html" %}

{% block title %}Local communities | Meeting other Ubuntu users | Help and information{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Help and information" subsection_title="Meeting other Ubuntu users" page_title="Local communities" tertiary="true" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--image is-deep is-bordered"
  style="background-image:url('https://assets.ubuntu.com/v1/8cd2710d-local-communities.jpg')">
  <div class="row">
    <div class="col-6">
      <div class="p-card--overlay">
        <h1 class="u-no-margin--bottom">Local communities</h1>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2 id="what-is-an-ubuntu-local-community">
        What is an Ubuntu local community (LoCo) team?
      </h2>
      <p>
        A Local Community team (also known as a LoCo) is a group of people that
        share an interest in Ubuntu. One might call the people in these teams
        &ldquo;enthusiasts&rdquo; as typically they are passionate about the
        Ubuntu project and the software created by it. A team can be as simple
        as a few people that get together occasionally to talk about Ubuntu or
        to celebrate it to something as formal as a national team with a
        governance structure in place. There are many flavours and styles for
        teams and no single formula applies to every region or culture in the
        world.
      </p>
      <h2 id="finding-a-team">Finding a team</h2>
      <p>
        Ubuntu is truly a global phenomenon and teams are everywhere! And, if
        you live in a major metropolitan area chances are there&rsquo;s one near you.
        We have built an online portal to help you locate an Ubuntu LoCo Team
        in your area. It is at
        <a href="http://loco.ubuntu.com/" class="p-link--external">
          http://loco.ubuntu.com/</a>.
        From here you can find a team near you, or browse the full list of
        teams world-wide. You can also check out upcoming events that teams are
        participating in, read blog entries posted by teams, or find
        information about team events and meetings.
      </p>
      <p>
        Anybody can use the LoCo Teams portal, even if you are not currently a
        member of a team or even if you are someone who has ever tried Ubuntu.
        Once you find a team near you, we strongly encourage you to join it.
        Teams are a great way to learn more about Ubuntu and, if you are so
        inclined, to participate in the creation of Ubuntu and to help make it
        better. If you join a LoCo team you can register new events or meetings
        for your team, have your blog added to the team&rsquo;s news feed, and
        more.
      </p>
      <p>
        One of the the best ideas is to join your LoCo team and subscribe to
        their mailing list or forum. Once subscribed makes sure that you
        introduce yourself and explain what skills you have, hopefully someone
        can help you there and invite you to the next meeting.
      </p>
      <p>
        If you are traveling and want to meet up with other people that enjoy
        Ubuntu, you can use the LoCo Teams Portal to find an event they are
        holding and register to join them.
      </p>
      <h2 id="starting-a-team">Starting a team</h2>
      <p>
        No team near you? That&rsquo;s an opportunity. You have the ability to
        start one yourself. Ubuntu enthusiasts sometimes need someone to help
        them find each other. Be that person. It starts with one connector. If
        you&rsquo;re not comfortable connecting people together, perhaps enlist
        the help of your most sociable friend. They may be up for an
        interesting challenge.
      </p>
      <p>
        Here are four really easy steps to help get you (or your friend)
        started:
      </p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">
          <p>
            Find a free (or nearly free) place to gather. Start small. If you
            have a local coffee shop or community gathering place in your
            neighbourhood, that&rsquo;s a great venue for your first Ubuntu
            get-together. Ask the owner. You can likely host a lot of initial
            meetings in informal settings like this. Make it an easy spot to
            get to for you and your neighbours. Really make it easy, otherwise
            you&rsquo;ll be burning energy just to get to meetings. 1. Send
            word out in your neighbourhood. It&rsquo;s easy.
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            Make a flyer that says: &ldquo;Hey fellow Ubuntu users! We gather
            at here on the first Monday of every month at 7pm to help spread
            Ubuntu. Hope you&rsquo;ll join us!&rdquo; Keep it friendly, human,
            and clear (like Ubuntu). This type of notice can be put on local
            public bulletin boards, in libraries, on a pole on (pedestrian)
            busy intersections, bus stops, etc. (Make sure it&rsquo;s allowed
            though. Find friendly places to post things.) Want to get more
            fancy with your flyers? Check out the pre-designed samples at
            <a href="http://spreadubuntu.org"  class="p-link--external">
              http://spreadubuntu.org</a>.
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            You can also sometimes get free listings on community web sites,
            local newspapers, and local entertainment magazines. Your initial
            goal is to attract people that are looking for this kind of stuff,
            so don&rsquo;t worry if you don&rsquo;t have a massive ad campaign.
            Some people will find you. The people that find you first are
            sometimes the ones that have the most interest.
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            Meet and have fun! This part is the easiest. Try to keep it simple
            and light. Don&rsquo;t focus on &ldquo;ToDo&rsquo;s&rdquo;,
            formality, and structure. Very few people like joining an
            organization that looks like a government. Over time as you attract
            more people to your team (because it&rsquo;s fun), projects and
            activities will naturally emerge.
          </p>
        </li>
        <li class="p-list__item is-ticked">
          <p>
            Register your team on
            <a href="http://loco.ubuntu.com" class="p-link--external">
              http://loco.ubuntu.com</a>.
            Do this after you&rsquo;ve had a few successful get-togethers and
            it has become obvious that there is energy and passion for Ubuntu
            in your new team.
          </p>
        </li>
      </ul>
      <h2 id="things-you-can-do-as-a-team">Things you can do as a team</h2>
      <ul>
        <li>
          <p>
            There are no limits to the things you can do and the fun you can have
            as a team. Here are some examples we&rsquo;ve seen that have worked:
            &mdash; Socialize! Get together over a cup of tea or coffee and talk
            about Ubuntu.
          </p>
        </li>
        <li>
          <p>
            Teach! Create presentations that help your community understand
            what Ubuntu is and how to get involved too.
          </p>
        </li>
        <li>
          <p>
            Hit the streets! Join a parade or a community event and spread the
            word about Ubuntu.
          </p>
        </li>
        <li>
          <p>
            Make something! Maybe there&rsquo;s something you&rsquo;d like to
            see in Ubuntu. Find some programmer friends and make it.
          </p>
        </li>
        <li>
          <p>
            Write! Ubuntu always needs good guides and documentation.
          </p>
        </li>
        <li>
          <p>
            Help! Provide assistance to those that are stuck. Install Ubuntu
            and help get them started.
          </p>
        </li>
        <li>
          <p>Party! Celebrate Ubuntu with your community. Have fun!</p>
        </li>
        <li>
          <p>
            Compare! What are other teams doing? Check out the
            <a href="http://loco.ubuntu.com" class="p-link--external">
              http://loco.ubuntu.com</a> site and see!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--accent is-shallow">
  <div class="row">
    <div class="col-8">
      <h3 id="getting-help-for-your-team">Getting help for your team</h3>
      <p>
        You are not alone. Chances are another team in the world can help you
        out with useful tips, tricks, and advice to make your own team awesome.
        One way to reach out to others is to check the
        <a href="http://loco.ubuntu.com" class="p-link--strong"
          style="color:#fff;">
          Ubuntu LoCo web site</a>
        and contact a team lead near you. Alternatively, you can reach out to
        other teams through the
        <a href="https://lists.ubuntu.com/mailman/listinfo/loco-contacts"
          class="p-link--strong" style="color:#fff;">
          LoCo contacts mailing list</a>.
        Finally, there is a great support resource at
        <a href="http://askubuntu.com" class="p-link--strong"
          style="color:#fff;">
          Ask Ubuntu</a>
        where volunteer Ubuntu experts and enthusiasts will happily and
        helpfully answer your questions about teams.
      </p>
      <p>
        If you already have a team and need assistance, help or guidance anyone
        can reach out and contact the Ubuntu LoCo Council. They can help you
        with any question or problem about your team, like how to grow your
        team, how to resolve issues that arise from time to time, and how to
        get resources such as official Ubuntu DVDs or conference packs. The
        LoCo council can be reached here:
        <a href="http://loco.ubuntu.com/loco-council/" class="p-link--strong"
          style="color:#fff;">
          LoCo Council</a>.
        You can also contact to the LoCo Council using the mailing list:
        <a href="mailto:loco-council@lists.ubuntu.com"
          class="p-link--strong" style="color:#fff;">
          loco-council@lists.ubuntu.com</a>.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
