<ul class="nav-tertiary__menu p-inline-list">
  {% if level_2 == 'google-summer-of-code' %}
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'for-students' %}is-active{% endif %}" href="/contribute/google-summer-of-code/for-students">For students</a></li>
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'for-mentors' %}is-active{% endif %}" href="/contribute/google-summer-of-code/for-mentors">For mentors</a></li>
  {% endif %}
  {% if level_2 == 'developers' %}
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'package-maintenance' %}is-active{% endif %}" href="/contribute/developers/package-maintenance">Package maintenance</a></li>
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'writings-apps-for-ubuntu' %}is-active{% endif %}" href="/contribute/developers/writings-apps-for-ubuntu">Writings apps for Ubuntu</a></li>
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'ubuntu-on-all-devices' %}is-active{% endif %}" href="/contribute/developers/ubuntu-on-all-devices">Ubuntu on all devices</a></li>
    <li class="p-inline-list__item"><a class="p-inline-list__link {% if level_3 == 'working-on-core-parts-of-ubuntu' %}is-active{% endif %}" href="/contribute/developers/working-on-core-parts-of-ubuntu">Working on core parts of Ubuntu</a></li>
  {% endif %}
</ul>