{% extends "contribute/base.html" %}

{% block title %}Advocacy | Contribute{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Contribute" page_title="Advocacy" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1 id="advocacy">Advocacy</h1>
      <h2 id="are-you-an-ubuntu-advocate">Are you an Ubuntu advocate?</h2>
      <p>
        Chances are that if you&rsquo;ve taken the time to visit this page, you
        might be thinking that you&rsquo;re an advocate, or nearly so.
      </p>
      <p>
        The dictionary defines an advocate as &ldquo;A person who publicly
        supports or recommends a particular cause or policy.&rdquo; The key
        words are &ldquo;publicly&rdquo; and &ldquo;particular&rdquo;.
      </p>
      <p>
        Do you say good things about Ubuntu in public? Do you want to? Do you
        enjoy Ubuntu regularly? Do you contribute to spreading the project? Do
        you get passionate when talking to others about Ubuntu? Do you envision
        a world where people have a say in their technology tools and where the
        tools work for them? That&rsquo;s Ubuntu&rsquo;s promise of freedom.
      </p>
      <p>
        This page will help guide you towards resources that are designed to
        help you advocate Ubuntu effectively. Ubuntu advocacy is an exciting
        aspect of the project and a great way for non-technical people to help.
        Advocates are sociable people that enjoy the company of others. They
        are good story-tellers. They enjoy public speaking. Does that sound
        like you?
      </p>
      <p>
        Welcome to the world of Ubuntu advocacy. You are amongst friends.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2 id="getting-stated">Getting started</h2>
      <p>
        Familiarize yourself with Ubuntu by thoroughly reviewing the
        <a href="https://ubuntu.com"
          class="p-link--external">
          official Ubuntu web site</a>.
        This is the best way to learn exactly what is being officially said
        about Ubuntu, and to cut through the noise of hearsay and opinion that
        permeate the web. Ubuntu is a very new concept for the majority of
        people and as a result, a lot of people get it wrong. Be one of those
        who spread fact.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--accent is-shallow">
  <div class="row">
    <div class="col-8">
      <h2 id="getting-help">Getting help</h2>
      <p>
        Join an Ubuntu local community. Chances are high that you will find
        people near you that are passionate about Ubuntu and will help guide
        you.
        <a href="http://loco.ubuntu.com"
          class="p-link--strong"
          style="color: #fff;">
          View a list of Ubuntu local communities
        </a>
      </p>
      <p>
        AskUbuntu is a great resource for general questions that might come up
        in the course of advocacy. It&rsquo;s a good idea to tag your questions
        #using the #locoteams tag so they will stand out and get answered by
        people in Ubuntu local communities where a lot of advocacy activities
        occur.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
