{% extends "contribute/base.html" %}

{% block title %}Design | Contribute{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Contribute" page_title="Design" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1 id="design">Design</h1>
      <p>
        The best way to always stay on top of the latest news from Ubuntu
        Design, find out about new projects and tasks and read about the work
        of the Design team, is by following the
        <a href="http://design.canonical.com/" class="p-link--external">
          Ubuntu Design Blog</a>,
        <a href="https://twitter.com/ubuntudesigners" class="p-link--external">
          @ubuntudesigners</a> on Twitter and
        <a href="http://pinterest.com/ubuntudesigners/"
          class="p-link--external">
          ubuntudesigners on Pinterest</a>.
      </p>
      <p>
        <a href="http://design.ubuntu.com/" class="p-link--external">
          Our design site</a>
        hosts guidelines for the brand, web and apps. Before you start any
        design work, make sure you read and are familiar with these. If you
        have questions, you can join and get help at #ubuntu-design on
        irc.freenode.net. You might also want to sign up for the
        <a href="https://launchpad.net/~unity-design" class="p-link--external">
          unity-design team and</a> its mailing list.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2 id="projects">Projects</h2>
      <p>
        We&rsquo;re looking for participation in the following two cool
        projects:
      </p>
      <h3 id="wallpaper-contest">Wallpaper contest</h3>
      <p>
        The wallpapers that ship with Ubuntu Desktop are designed and selected
        by you. Usually between 14 and 15 wallpapers are selected for each
        Ubuntu update, and the winners are picked by the winners of the
        previous release. Anyone can participate and it&rsquo;s pretty simple:
        all you need to do is upload the image you created to
        <a href="http://www.flickr.com/groups/ringtailwallpaper/"
          class="p-link--external">
          the Flickr group</a>. More details can be seen on the
        <a href="http://design.canonical.com/tag/wallpaper/"
          class="p-link--external">
          Ubuntu Design Blog&rsquo;s announcement posts</a>.
        As with all of our projects, keep an eye on the
        <a href="http://design.canonical.com/tag/wallpaper/"
          class="p-link--external">
          Design Blog</a> &mdash;
        all announcements will be made there first. And
        here&rsquo;s a tip: although every type of image is welcome, there is a
        significant shortage of abstract and illustrative images, so the judges
        might be paying special attention to those.
      </p>
      <h3 id="app-design">App design</h3>
      <p>
        The Canonical Design Team is designing and building apps for Ubuntu on
        phones and tablets in close collaboration with the community. To
        participate, visit the
        <a href="http://design.canonical.com/tag/app-design/"
          class="p-link--external">
          Design Blog</a>,
        where you will find always the latest announcements, briefs,
        inspiration and key concepts. It&rsquo;s also important that you read
        carefully the
        <a href="http://design.ubuntu.com/apps" class="p-link--external">
          App Design Guidelines</a>
        before you start any design work on this project, visit the
        <a href="https://wiki.ubuntu.com/Touch/CoreApps"
          class="p-link--external">
          Core Apps project section</a>
        in the wiki and check the Go mobile section of the Ubuntu App
        Developer site if you&rsquo;re building an app.
      </p>
      <p>
        And to always be up-to-date, be sure to keep an eye on the following
        resources:
      </p>
      <ul>
        <li>
          <p>
            <a href="https://launchpad.net/~ubuntu-phone/+join"
              class="p-link--external">
              Ubuntu phone mailing list</a>
            &mdash; for general questions about the phone and apps.
          </p>
        </li>
        <li>
          <p>
            <a href="https://launchpad.net/~ubuntu-touch-coreapps/+join"
              class="p-link--external">
              Core apps mailing list</a>
            &mdash; for topics directed at specific apps.
          </p>
        </li>
        <li>
          <p>
            <a href="https://plus.google.com/111697084657487423167/posts"
              class="p-link--external">
              Ubuntu app developer Google Plus channel</a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://wiki.ubuntu.com/Touch/CoreApps/Design"
              class="p-link--external">
              Ubuntu design wiki</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock content %}
