{% extends "contribute/base.html" %}

{% block title %}Google Code In | Contribute {% endblock %}

{% block second_level_nav_items %}
<div class="strip-inner-wrapper">
    {% include "templates/_nav_breadcrumb.html" with section_title="Contribute" page_title="Google Code In" %}
</div>
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip-light is-deep">
  <div class="row">
    <h1 id="google-code-in">Google Code In</h1>
    <p>
      Google Code In (GCI) is a opportunity for high school students to learn
      about and participate in open source communities. Mentoring organizations
      create tasks and review the students work. Google then provides rewards
      for those students who do the best work.&nbsp; The contest runs from
      <strong>December through January</strong> each year. Ubuntu was selected
      as a mentoring organization for
      <a href="https://wiki.ubuntu.com/GoogleCodeIn2015"
        class="p-link--external">
        GCI 2015</a>.
      We hope to particpate again in 2016. For more information, see the
      <a href="https://developers.google.com/open-source/gci/"
        class="p-link--external">
        Google Code In Page</a>.
      Still have questions?
      <a href="https://developers.google.com/open-source/gci/faq"
        class="p-link--external">
        Check out the FAQ</a>.
    </p>
    <p>
      For <strong>students</strong>, we trust you will enjoy working on ubuntu.
      Welcome to the community.
    </p>
    <p>
      For <strong>community members</strong>, we are looking for
      <a href="https://wiki.ubuntu.com/GoogleCodeIn" class="p-link--external">
        mentors
      </a>
      to help create tasks and mentor the students. Mentors help students with
      tasks, answer questions, and ultimately review the task to mark it as
      complete. As a mentor you will:
    </p>
    <ul>
      <li>Create tasks for students to work on</li>
      <li>Review completed tasks</li>
      <li>Help students if they have questions while working on a task</li>
    </ul>
    <p>
      Check out the
      <a href="https://wiki.ubuntu.com/GoogleCodeIn#Mentor_FAQ"
        class="p-link--external">
        Mentoring FAQ
      </a>
      for more information about volunteering.</p>
  </div>
</section>

{% endblock content %}
