{% extends "contribute/base.html" %}

{% block title %}Ubuntu for the Internet of Things{% endblock %}

{% block meta_description %}From home control to drones, robots and industrial systems, Ubuntu Core provides robust security, app stores and reliable updates for all your IoT devices.{% endblock meta_description %}
{% block extra_body_class %}internet-of-things-overview{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Contribute" page_title="Overview" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1>Contribute</h1>
      <p>
        The success of the Ubuntu Project depends on a wide community of
        talented, passionate developers. Anyone with the right technical
        skills can contribute. If you&rsquo;re new to the process, you can find
        people online within the development team to help you along.
      </p>
      <p>
        There are lots of tools to support your efforts. You can find
        information about how Ubuntu is built in the
        <a href="http://packaging.ubuntu.com/" class="p-link--external">
          developer documentation
        </a>.
        It explains how the development team is structured, provides technical
        information about building Ubuntu, and indexes other useful resources
        for current and prospective Ubuntu contributors.
      </p>
      <p>
        <a href="/contribute/find-a-task/" class="p-button--brand">
        Find a task</a> to start contributing right away, or read on about
        different options available to you.
      </p>
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h2>Non-technical users</h2>
      <h3>Translation and localisation</h3>
      <p>
        If your first language is not English but you have strong English
        skills, you can make a huge contribution by helping to translate
        Ubuntu applications into your first language. Even if you just
        translate a few lines you can make a difference to someone in your
        own country who is learning about computers and free software.
      </p>
      <ul class="p-list--divided">
        <li class="p-list__item">
          Translate software in Ubuntu into your language using
          <a href="https://launchpad.net/rosetta" class="p-link--external">
            Launchpad
          </a>. Join the
          <a href="https://lists.ubuntu.com/mailman/listinfo/ubuntu-translators"
            class="p-link--external">
            Ubuntu-Translators
          </a> mailing list to stay in touch with other Ubuntu translators.
        </li>
        <li class="p-list__item">
          Translate documents written by the
          <a href="https://wiki.ubuntu.com/DocumentationTeam"
            class="p-link--external">
            documentation team
          </a>. This can also be done using
          <a href="https://launchpad.net/ubuntu-docs" class="p-link--external">
            Launchpad
          </a>
        </li>
        <li class="p-list__item">
          Discuss translation, fonts and other issues with your
          <a href="/help-information/meeting-other-ubuntu-users/"
            class="p-link--external">
            local community team
          </a>.
        </li>
      </ul>
      <h3>Documentation</h3>
      <p>
        When you find a solution to a problem, you can help others by writing
        about your experience. Some of the most constructive ways to get
        involved in the Ubuntu documentation community might be:
      </p>
      <ul class="p-list--divided">
        <li class="p-list__item">
          Take notes as you puzzle through a problem. If documentation already
          exists, you can extend or improve it. If it doesn&rsquo;t, go ahead
          and add a page in the
          <a href="https://help.ubuntu.com/community" class="p-link--external">
            help wiki
          </a>,
          and write up the answer making it available to everyone. You
          can read the
          <a href="https://help.ubuntu.com/community/WikiGuide"
            class="p-link--external">Wiki Guide
          </a>
          for help with this.
        </li>
        <li class="p-list__item">
          Join the Ubuntu documentation team. Visit the
          <a href="https://wiki.ubuntu.com/DocumentationTeam"
            class="p-link--external">
            documentation team website
          </a>
          for hints and tips on how to get started.
        </li>
      </ul>
      <h3>Donating</h3>
      <p>
        If you can, consider donating to the Ubuntu Community Donations fund
        on the Ubuntu website. With its funds we&nbsp;help LoCos with events,
        fly people to conferences and do all kinds of other great things.
        Find more information on the
        <a href="/help-information/funding/" class="p-link--external">
          fund page
        </a>.
      </p>
    </div>
  </div>
</div>

<div class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2>Technical users</h2>
      <p>
        Diagnosing and recognizing problems is an excellent way to contribute
        &mdash;
        <a href="https://wiki.ubuntu.com/QATeam" class="p-link--external">
          Test pre-release versions
        </a>
        of Ubuntu to help find bugs before the final release. Test early
        and often &mdash;
        <a href="https://help.ubuntu.com/community/ReportingBugs"
          class="p-link--external">
          Report bugs
        </a>
        you find, and help the development team to analyse them. This is
        most effective if you run the development branch.
      </p>
      <p>Engaging in technical discussions and providing feedback</p>
      <ul class="p-list--divided">
        <li class="p-list__item">
          Join a discussion list on the
          <a href="https://lists.ubuntu.com/" class="p-link--external">
            Ubuntu Mailing Lists
          </a>.
        </li>
        <li class="p-list__item">
          Chat with others on
          <a href="https://wiki.ubuntu.com/IRC" class="p-link--external">
            IRC
          </a>.
          You can make a major contribution to the Ubuntu project by
          helping others use Ubuntu.
        </li>
        <li class="p-list__item">
          Join an email support list or discussion list on the
          <a href="https://lists.ubuntu.com/" class="p-link--external">
            Ubuntu Mailing Lists
          </a>.
          The primary support list is ubuntu-users.
        </li>
        <li class="p-list__item">
          <a href="http://ubuntuforums.org/" class="p-link--external">
            Join the forums
          </a>
          and respond to requests for help.
        </li>
        <li class="p-list__item">
          Join the Ubuntu support IRC channel: #ubuntu on irc.freenode.net
        </li>
        <li class="p-list__item">
          Answering
          <a href="http://askubuntu.com/unanswered" class="p-link--external">
            unanswered questions
          </a>
          on Ask Ubuntu, and reviewing
          <a href="http://askubuntu.com/questions?sort=faq"
            class="p-link--external">
            existing FAQ
          </a>
          and the
          <a href="http://askubuntu.com/questions/greatest-hits"
            class="p-link--external">
            greatest hits
          </a>
          for quality and freshness.
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
