{% extends "contribute/base.html" %}

{% block title %}Translations | Contribute{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Contribute" page_title="Translations" %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-8">
      <h1 id="translations">Translations</h1>
      <p class="p-heading--six">
        Translate Ubuntu and make it available in everyone&rsquo;s own language
      </p>
      <p>
        <a href="https://www.ubuntu.com/project/about-ubuntu/our-philosophy"
          class="p-link--external">
          We believe
        </a> that every computer user should be able to use their software in
        their language of choice. As an Ubuntu translator you can put your
        language skills to work by translating Ubuntu from English to your
        language. Use Launchpad and your browser to translate free software
        online with an easy to use, wiki-style interface and make it possible
        for users to naturally use Ubuntu in their own tongue.
      </p>
      <p>
        You choose how much you want to get involved: from submitting a few
        translation suggestions to joining a translation team and becoming a
        full-fledged Ubuntu Translator. The range of opportunities for helping
        to improve Ubuntu&rsquo;s native language support is broad: translating
        applications, drafting translation terminology and guidelines, filing
        and fixing internationalization bugs, participating in discussions and
        helping other translators, providing internationalization support to
        applications are just a few examples.
      </p>
      <p>Five reasons to get involved as a translator:</p>
      <ol>
        <li>
          <p>
            <strong>Make Ubuntu accessible in your language</strong> &mdash;
            enable users to work with Ubuntu in their language of choice.
          </p>
        </li>
        <li>
          <p>
            <strong>Promote the use of your language</strong> &mdash; being
            Free Software, Ubuntu can be translated to almost any language.
            From day one you can spread the use of your language in IT, the
            Internet and in social life through the Ubuntu platform and
            community, without depending on anyone else.
          </p>
        </li>
        <li>
          <p>
            <strong>Learn about other languages</strong> &mdash; join the
            global Ubuntu Translations community and get involved in a rich
            and diverse translator community from all over the world.
          </p>
        </li>
        <li>
          <p>
            <strong>Translate collaboratively</strong> &mdash; use Launchpad
            Translations, the online translation tool for Ubuntu and other
            projects. With it, you can easily translate software and build
            translation communities without the need for special tools or
            in-depth technical knowledge on translation technology.
          </p>
        </li>
        <li>
          <p>
            <strong>Get experience with internationalization technology</strong>
            &mdash; if you are interested in the underlying technology for
            Ubuntu translations, you can also get involved at the technical
            level by adding or improving natural language support for
            applications, fixing bugs or providing better font or input method
            support.
          </p>
        </li>
      </ol>
      <h2 id="five-steps-to-get-stated">Five steps to get started</h2>
      <p>
        One of the key values in Ubuntu is the low entry barrier for
        contribution, so that participating in improving Ubuntu can be both
        easy and fun. Therefore you won&rsquo;t need much knowledge to start
        translating from day one:: there is no need to install special tools
        and no previous technical knowledge is required. You&rsquo;ll be
        using Launchpad, an easy to use yet powerful online translation tool.
      </p>
      <p>Here are the five steps to start translating Ubuntu:</p>
      <ol>
        <li>
          <p>
            <strong>Create a Launchpad account</strong> &mdash; You&rsquo;ll be
            using Launchpad to submit translations.
            <a href="https://launchpad.net/+login" class="p-link--external">
              Create a Launchpad account
            </a>
          </p>
        </li>
        <li>
          <p>
            <strong>Find an app or some messages to translate</strong> &mdash;
            Look for some untranslated messages in Ubuntu.
            <a href="https://translations.launchpad.net/ubuntu/"
              class="p-link--external">
              Go to the Ubuntu translations page
            </a>. Note that the templates listed on these pages are sorted by
            priority, so strings in templates at the top are more visible.
          </p>
        </li>
        <li>
          <p>
            <strong>Enter translation suggestions in Launchpad</strong> &mdash;
            Your first translations will need to be peer reviewed, but you can
            start submitting translation suggestions straight away.
          </p>
        </li>
        <li>
          <p>
            <strong>
              Get in touch with a reviewer to accept or amend your suggestions
            </strong> &mdash; Translation teams ensure the quality of
            translations by reviewing suggestions. On every translation page
            there is a link to the team. Click on it and learn how to get in
            touch with them to review your suggestions.
          </p>
        </li>
        <li>
          <p>
            <strong>Join a translation team</strong> &mdash; If you want to
            become a full-fledged Ubuntu translator,
            <a href="https://translations.launchpad.net/+groups/ubuntu-translators"
              class="p-link--external">
              join a translation team
            </a>.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h2 id="documentation-resources">Documentation resources</h2>
      <p>Find out more about translating Ubuntu:</p>
      <ul>
        <li>
          <p>
            <a href="https://wiki.ubuntu.com/Translations/QuickStartGuide"
              class="p-link--external">
              Ubuntu translations quickstart guide
            </a> &mdash; learn how to start translating Ubuntu in a few minutes.
          </p>
        </li>
        <li>
          <p>
            <a href="https://translations.launchpad.net/+groups/ubuntu-translators"
              class="p-link--external">
              Ubuntu translation teams
            </a> &mdash; join the translation team for your language.
          </p>
        </li>
        <li>
          <p>
            <a href="https://translations.launchpad.net/ubuntu"
              class="p-link--external">
              Ubuntu translations in Launchpad
            </a> &mdash; start translating Ubuntu in Launchpad.
          </p>
        </li>
        <li>
          <p>
            <a href="https://wiki.ubuntu.com/Translations"
              class="p-link--external">
              Ubuntu translations wiki
            </a> &mdash; learn more about Ubuntu Translations.
          </p>
        </li>
      </ul>
      <p>
        The best place to find help for translating Ubuntu is the translation
        team for your language. You&rsquo;ll find it on the
        <a href="https://translations.launchpad.net/+groups/ubuntu-translators"
          class="p-link--external">
          list of Ubuntu Translations teams
        </a>. For real-time communication, come over to the
        <a href="http://webchat.freenode.net/?channels=ubuntu-translators"
          class="p-link--external">
          #ubuntu-translators IRC channel
        </a> on the Freenode network. You can also use the global
        <a href="https://lists.ubuntu.com/mailman/listinfo/ubuntu-translators"
          class="p-link--external">
          Ubuntu translators mailing list
        </a>. That is the place where all global discussion and announcements
        take place. You can read the online archive of the list, or you can
        subscribe to it and get involved in the development of Ubuntu
        localization or internationalization.
      </p>
      <p>
        Also check out the list of all
        <a href="https://wiki.ubuntu.com/Translations/Contact"
          class="p-link--external">
          Ubuntu Translators communication channels
        </a>.
      </p>
      <ul>
        <li>
          <p>
            If there isn&rsquo;t a translation team for your language, you can
            <a href="https://askubuntu.com/questions/196602/how-do-i-create-a-translations-team"
              class="p-link--external">
              create a new Ubuntu Translations team
            </a>.
          </p>
        </li>
        <li>
          <p>
            If you translate a message in Launchpad for a given Ubuntu release,
            it will automatically be translated to all other releases.
          </p>
        </li>
        <li>
          <p>
            Language packs are Ubuntu packages that are released regularly and
            contain the latest translations done in Launchpad.
          </p>
        </li>
        <li>
          <p>
            Your name will be automatically added to the &ldquo;About&rdquo;
            dialogs of the programs you translate in appreciation for your
            contributions.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock content %}
